<div class="ms">
  <button type="button" class="ms-btn" (click)="toggleOpen()">
    <span class="ms-label">{{ labelSummary() }}</span>
    <span class="ms-caret">▾</span>
  </button>

  <div class="ms-panel" *ngIf="open">
    <div class="ms-search">
      <span class="icon">🔎</span>
      <input [formControl]="search" placeholder="Buscar distrito..." />
    </div>

    <div class="ms-actions">
      <button type="button" (click)="selectAllFiltered()">Marcar visibles</button>
      <button type="button" (click)="clear()">Limpiar</button>
    </div>

    <div class="ms-list">
      <label class="row" *ngFor="let d of filtered">
        <input
          type="checkbox"
          [checked]="isDistrictSelected(d)"
          (change)="toggleDistrict(d)"
        />

        <!-- hidden ubigeo (si lo quieres para forms HTML5) -->
        <input type="hidden" [value]="d.codigoUbigeo" />

        <div class="txt">
          <div class="name">{{ d.distrito }}</div>
          <div class="sub">{{ d.departamento }} · {{ d.provincia }}</div>
        </div>
        <!-- Boton único: límite + centrar -->
       <button
          mat-icon-button
          type="button"
          class="toggle-mat-btn"
          [class.active]="isLimiteOn(d.codigoUbigeo)"
          (click)="onToggleLimiteDistrito(d, $event)"
          [attr.aria-pressed]="isLimiteOn(d.codigoUbigeo)"
          [matTooltip]="isLimiteOn(d.codigoUbigeo) ? 'Ocultar límite y centrar distrito' : 'Mostrar límite y centrar distrito'"
          matTooltipClass="class-tooltip"
        >
          <!-- Spinner -->
          <mat-progress-spinner
            *ngIf="isLoadingUbigeo(d.codigoUbigeo)"
            diameter="20"
            mode="indeterminate">
          </mat-progress-spinner>

          <!-- Icono dinámico -->
          <mat-icon *ngIf="!isLoadingUbigeo(d.codigoUbigeo)">
            {{ isLimiteOn(d.codigoUbigeo) ? 'location_on' : 'location_off' }}
          </mat-icon>
        </button>

      </label>
    </div>
  </div>
</div>
