<div class="body form map">
  <div class="brand">
    <img
      src="../../../../assets/images/logo-sicun.png"
      alt="Logo SICUN"
      class="brand-logo"
    />
    <div class="brand-divider"></div>
    <div class="brand-text">
      <span class="brand-title">VISOR DE SEGUIMIENTO DE</span>
      <span class="brand-subtitle">LEVANTAMIENTO CATASTRAL</span>
    </div>

    <div class="brand-version">
      <span class="v-label">{{version}}</span>
    </div>
  </div>

  <form class="form__content" [formGroup]="form" (ngSubmit)="submit()">
    <div class="content-logos">
            <div class="logo-MVCS"></div>
            <div class="logo-cofopri"></div>
            <div class="logo-urbano"></div>
    </div>
    <div class="form__content__header">
        <h1 class="form_content_heading">Bienvenido/a</h1>
        <div class="form__content__description">
          Visor de Seguimiento de Levantamiento Catastral
        </div>
    </div>
    <div>
      <mat-form-field appearance="outline" class="mat-sm-login full-width">
        <mat-label>Usuario</mat-label>
        <span matTextPrefix>
          <mat-icon class="icon-svg-person"></mat-icon>
        </span>
        <input matInput formControlName="username">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="mat-sm-login full-width">
          <mat-label>Contraseña</mat-label>
        <span matTextPrefix>
          <mat-icon class="icon-svg-key"></mat-icon>
        </span>
        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword"
          aria-label="Mostrar u ocultar contraseña"
        >
          <mat-icon>
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </button>

      </mat-form-field>

      <re-captcha [siteKey]="keysite"
                  formControlName="recaptcha"
      ></re-captcha>

    </div>

    <div class="form__field form__submit" style="margin-top: 5px;">
      <button class="btnAdd full-width" type="submit" [disabled]="loading||form.invalid" >
        {{loading ? 'Ingresando....' : 'Iniciar sesión'}}
      </button>
    </div>

    <p *ngIf="error" style="color:red;margin-top:10px;">
      {{error}}
    </p>
  </form>
  <div class="content_footer-login">
    <div class="form__footer">
        Navegadores recomendados
    </div>
    <div class="conten-img-footer">
        <div class="navegador">
            <div class="firefox">
            </div>
            <div class="nav-texto">
                firefox
            </div>
        </div>
        <div class="navegador">
            <div class="chrome">
            </div> 
            <div class="nav-texto">
                Chrome
            </div>
        </div>
    </div>
  </div>
</div>
