<aside class="sidebar">
  <div class="brand">
    <img src="../../../../assets/images/svg/logo-sicun.svg" alt="Logo SICU" class="brand-logo">
  </div>
  <nav class="nav">
    <a mat-button
       (click)="abrirEstadisticas()"
       [class.active]="(uiService.showStatsWidget$ | async)"
       style="cursor: pointer;">
      <mat-icon>dashboard</mat-icon>
    </a>

    <a mat-button
       (click)="abrirReporteManzanas()"
       [class.active]="(uiService.showManzanaPanel$ | async)"
       style="cursor: pointer;">
      <mat-icon>assessment</mat-icon>
    </a>

    <a mat-button
      (click)="abrirReportePoligonos()"
       [class.active]="(uiService.showPoligonoPanel$ | async)"
       style="cursor: pointer;">
      <mat-icon>bar_chart</mat-icon>
    </a>
  </nav>


  <button class="btnLogout" (click)="logout.emit()">
    <mat-icon>logout</mat-icon>
  </button>
</aside>
