<!--<aside style="width:260px;background:#0b3d91;color:white;padding:16px;">-->
<!--  <h4>SICU - Seguimiento</h4>-->

<!--  <nav style="margin-top:18px; display:flex; flex-direction:column; gap:10px;">-->
<!--    <button>Dashboard</button>-->
<!--    <button>Mapa</button>-->
<!--    <button>Reportes</button>-->
<!--  </nav>-->

<!--  <div style="margin-top:24px;">-->
<!--    <button (click)="logout.emit()">Cerrar sesión</button>-->
<!--  </div>-->
<!--</aside>-->

<aside class="sidebar">
  <div class="brand">
    <img src="../../../../assets/images/svg/logo-sicun.svg" alt="Logo SICU" class="brand-logo">
  </div>
  <nav class="nav">
    <a mat-button
      routerLink="/dashboard"
      routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
    </a>

    <a mat-button
      routerLink="/mapa"
      routerLinkActive="active">
      <mat-icon>map</mat-icon>
    </a>

    <a mat-button
      routerLink="/reportes"
      routerLinkActive="active">
      <mat-icon>bar_chart</mat-icon>
    </a>
  </nav>


  <button class="btnLogout" (click)="logout.emit()">
    <mat-icon>logout</mat-icon>
  </button>
</aside>
