.map-hidden-option {
    display: none;
}

.map-izquierda {
    z-index: 500;
    opacity: 1;
    position: absolute;
    border: 1px dashed #900;
    background-color: #fdd;
    left: 5px;
    width: 25px;
    bottom: 10px;
    padding: 20px 20px 20px;

}

.leaflet-control-zoom {
    display: none !important;
}

.leaflet-bar {
    display: none !important;
}