.layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  height: 100vh;
  background: var(--bg);
}

.content {
  height: 100vh;
  overflow: auto;
  padding: 20px;
  background: #f6f8fb;
}

/*.content {*/
/*  height: 100vh;*/
/*  overflow: auto;*/
/*  padding: 0;*/
/*  background: transparent;*/
/*}*/
