<div class="panel" [class.embedded]="embedded">


  <div class="panel-body" style="padding: 0;">

    <div class="row">
      <label class="label">Distritos seleccionados:</label>
      <app-distrito-multiselect  [all]="allDistritos"  [selected]="selectedDistritos"  (selectedChange)="onDistritosChange($event)"></app-distrito-multiselect>
<!--      <button class="circle-btn" title="Configurar" (click)="openDistritoModal()">⚙</button>-->
      <button class="circle-btn" (click)="mostrarDiv = true" matTooltip="Agregar distrito" matTooltipClass = "class-tooltip">
        <mat-icon fontIcon="add_location"></mat-icon>
      </button>
    </div>

    <div class="group">
      <div class="group-header">
        <button class="chev" (click)="toggleExpandManzana()">{{ expandedManzana ? '▾' : '▸' }}</button>
        <label class="group-title">
          <input type="checkbox" checked disabled />
          <span>Manzana</span>
        </label>


        <div class="group-actions">
          <button class="circle-btn" matTooltip="Menu" matTooltipClass = "class-tooltip">
            <mat-icon fontIcon="menu"></mat-icon>
          </button>
          <button matButton [matMenuTriggerFor]="menu1" class="circle-btn" matTooltip="transparencia" matTooltipClass = "class-tooltip">
            <mat-icon fontIcon="linear_scale"></mat-icon>
          </button>
          <mat-menu #menu1="matMenu" class="conten-opacity">
              <input type="range" min="0.2" max="1" step="0.05" [value]="opacity" (input)="onOpacityChange($event)" />
          </mat-menu>
        </div>
      </div>

      <div class="group-content" *ngIf="expandedManzana">
        <label class="item" *ngFor="let it of manzana">
          <input type="checkbox" [checked]="it.checked" (change)="onToggleManzana(it)" />
          <span>{{ it.label }}</span>
        </label>
      </div>
    </div>

    <div class="group">
      <div class="group-header">
        <button class="chev" (click)="toggleExpandPoligonoPanel()">{{ expandedPoligono ? '▾' : '▸' }}</button>
        <label class="group-title">
          <input type="checkbox" checked disabled />
          <span>Polígono</span>
        </label>
        <div class="group-actions">
          <button class="circle-btn" matTooltip="Menu" matTooltipClass = "class-tooltip">
            <mat-icon fontIcon="menu"></mat-icon>
          </button>
          <button matButton [matMenuTriggerFor]="menu" class="circle-btn" matTooltip="transparencia" matTooltipClass = "class-tooltip">
            <mat-icon fontIcon="linear_scale"></mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="conten-opacity">
              <input type="range" min="0.2" max="1" step="0.05" [value]="opacity" (input)="onOpacityChange($event)" />
          </mat-menu>

        </div>
      </div>
      <div class="group-content" *ngIf="expandedPoligono">
        <label class="item" *ngFor="let ip of poligonos">
          <input type="checkbox" [checked]="ip.checked" (change)="onToggle(ip)" />
          <span>{{ ip.label }}</span>
        </label>
      </div>
    </div>
  </div>
</div>


<!-- MODAL: Agregar/Quitar Distrito -->
 <!-- <div class="modal-overlay" *ngIf="showAddDistrito"></div> -->
<div class="modal-overlay" *ngIf="mostrarDiv">
  <div class="modal">

    <div class="modal-header">
      <span>Agregar Distrito</span>
      <button class="close" (click)="cerrarDistritos()">✕</button>
    </div>

    <div class="modal-body">
      <app-distrito-multiselect
        [allDistritos]="allDistritos"
        [selected]="selectedDistritos"
        (selectedChange)="onDistritosChange($event)">
      </app-distrito-multiselect>
    </div>

    <div class="modal-footer">
      <button class="btn_aceptar" (click)="confirmAddDistritos()">
        Cargar
      </button>
    </div>

  </div>
</div>
