.stats-widget {
  position: absolute;
  top: 70px; /* Debajo del header azul */
  right: 15px;
  width: 230px;
  background: white;
  border-radius: 15px;
  z-index: 1100;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.widget-header {
  background: linear-gradient(90deg, #0b3d91 0%, #1e5bb9 100%);
  color: white;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-main {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: bold;
}

.widget-body {
  padding: 15px;
  max-height: 85vh;
  overflow-y: auto;
}

.layer-name {
  color: #0b3d91;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
}

.chart-container {
  position: relative;
  height: 320px;
  min-height: 320px;
  width: 100%;
  max-width: 360px;
  margin-bottom: 15px;
}

.section-title {
  color: #0b3d91;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}

.legend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  font-size: 11px;
}

.color-box {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}

.divider {
  border: 0;
  border-top: 1px solid #eee;
  margin: 15px 0;
}

/* Ajuste para los botones de descarga circulares del prototipo */
.download-container {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 9999999999999999999;
}

.circle-btn {
  background: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon-xls { color: #1d6f42; }
.icon-gis { color: #f7931e; }
.arrow { font-size: 18px; width: 18px; height: 18px; color: #666; }


/*MOSTAR OCULTAR*/


/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 9%;
  right: 0;
  width: 260px;
  height: 91vh;
  background: #0000007e;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  z-index: 1000;
}

/* OCULTO */
.sidebar.closed {
  transform: translateX(100%);
}

/* BOTÓN AL BORDE */
.edge-toggle-btn {
  position: fixed;
  top: 59%;
  right: 261px;
  transform: translateY(-50%);
  width: 25px;
  height: 100%;
  border-radius: 15px 0 0 15px;
  background: #0000007e;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 1099;
  display: flex;
  padding: 0;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
}

/* BOTÓN CUANDO ESTÁ OCULTO */
.sidebar.closed + .edge-toggle-btn,
.edge-toggle-btn.closed {
  right: 0;
}

/* AJUSTE CUANDO EL PANEL SE OCULTA */
.sidebar.closed ~ .edge-toggle-btn {
  right: 0;
}

/* ÍCONO */
.edge-toggle-btn mat-icon {
  font-size: 28px;
}

/* OCULTO */
.edge-toggle-btn.closed {
  right: 0px;
}

.edge-toggle-btn mat-icon {
  font-size: 28px;
}

::ng-deep .mat-mdc-menu-content {
    background: #FFF;
    color: #194A8B;
    font-size: 13px!important;
}

