<button class="edge-toggle-btn" [class.closed]="!sidebarOpen" (click)="toggleSidebar()">
  <mat-icon>
    {{ sidebarOpen ? 'chevron_right' : 'chevron_left' }}
  </mat-icon>
</button>

<aside class="sidebar" [class.closed]="!sidebarOpen">
  <div class="widget-header">
    <div class="header-main">
      <mat-icon class="shield-icon">bar_chart</mat-icon>
      <span class="title">Estadística</span>
    </div>
  </div>

  <br><br>

  <div class="stats-widget shadow-lg"  [style.display]="uiService.panelActivo() === 'manzana' ? 'block' : 'none'">
    <div class="widget-body">
      <h3 class="layer-name">Manzana</h3>

      <div class="chart-container">
        @if (uiService.datosConteoManzanas().length === 0) {
        <div class="no-data-msg">Mueva el mapa para cargar datos</div>
        }
        <canvas #statsChart></canvas>
      </div>

      <section class="section">
        <h4 class="section-title">Leyenda</h4>
        <div class="legend-list">
          @for (item of uiService.datosConteoManzanas(); track item.estado) {
          <div class="legend-item">
            <span class="label-text">{{ item.nombreEstado }}</span>
            <span class="count-badge">({{ item.nroManzanas }})</span>
            <span class="color-box" [style.background-color]="getColor(item.estado)"></span>
          </div>
          }
        </div>
      </section>

      <hr class="divider">
    </div>
  </div>

  <div class="stats-widget shadow-lg" [style.display]="uiService.panelActivo() === 'poligono' ? 'block' : 'none'">
    <div class="widget-body">
      <h3 class="layer-name">Polígono</h3>

      <div class="chart-container">
        @if (uiService.datosConteoPoligonos().length === 0) {
          <div class="no-data-msg">Mueva el mapa para cargar datos</div>
        }
        <canvas #statsChartPoligono></canvas>
      </div>

      <section class="section">
        <h4 class="section-title">Leyenda</h4>
        <div class="legend-list">
          @for (item of uiService.datosConteoPoligonos(); track item.estado) {
            <div class="legend-item">
              <span class="label-text">{{ item.nombreEstado }}</span>
              <span class="count-badge">({{ item.nroPoligonos }})</span>
              <span class="color-box" [style.background-color]="getColorPoligono(item.estado)">
              </span>
            </div>
          }
        </div>
      </section>

    </div>
  </div>



</aside>