
:root {
  /* Tema (cambia aquí una sola vez) */
  --brand: #dc3545;            /* COFOPRI (ajustable) */
  --brand-dark: #e30200;
  --brand-soft: #E7F6F1;

  --accent: #E8B835;           /* amarillo CTA */
  --accent-dark: #d1a52d;

  --bg: #F3F6F8;
  --card: #F3F6F8;
  --text: #0F172A;
}

html,
 body {
     height: 100%;
 }

 body {
     margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
     overflow: hidden; /* default */
 }
