 html,
 body {
     height: 100%;
 }

 body {
     margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
     overflow: hidden;
 }

 .cdk-overlay-container {
     z-index: 99999 !important;

 }

 .menu-lateral {
     border-radius: 10px;
     position: fixed !important;
     top: 60px;
     left: 68px;
     background: white;
     width: 360px;
     overflow-x: hidden !important;
 }

 .menu-lateral::before {
     position: absolute;
     content: "";
     height: 100%;
     width: 101%;
     left: -1px;
     top: -1px;
     z-index: -1;
     border-radius: 5px;
 }

 .header-modal-login {
     border-radius: 10px;
     position: fixed !important;
     top: 50px;
     right: 20px;
     background: white;
     height: auto;
     width: 300px;
 }

 .header-modal {
     background-color: #11478A;
     border-radius: 5px 5px 0 0;
     color: #FFF !important;
     display: flex;
     font-size: 14px !important;
     flex-direction: row;
     align-items: center;
     align-content: center;
     justify-content: space-between;
     border: 1px solid #7c7c7c;
     height: 38px;
 }

 .header-modal img {
     width: 100%;
     position: absolute;
     z-index: -1;
     margin: 0;
     left: 0;
     top: 0;
 }

 .font-z-20 {
     font-size: 20px;
 }

 .header-modal-inicio {
     background-color: #11478A;
     border-radius: 5px 5px 0 0;
     color: #FFF !important;
     padding: 10px 10px;
     display: flex;
     font-size: 16px !important;
     flex-direction: row;
     align-items: center;
     align-content: center;
     justify-content: space-between;
 }

 .modal-mensaje-aviso {
     background-color: #11478A;
     border-radius: 5px 5px 0 0;
     color: #FFF !important;
     padding: 0 10px;
     display: flex;
     font-size: 16px !important;
     flex-direction: row;
     align-items: center;
     align-content: center;
     justify-content: space-between;
     border: 1px solid #7c7c7c;
 }

 .mensaje-error-aviso {
     background-image: url('/assets/images/svg-anima/mensaje-error.svg');
     min-width: 48px;
     height: 48px;
     margin: 5px;
     background-size: 48px;
 }

 .mensaje-info-aviso {
     background-image: url('/assets/images/svg-anima/mensaje-info.svg');
     min-width: 48px;
     height: 48px;
     margin: 5px;
     background-size: 48px;
 }

 .header-modal-user {
     background-color: #11478a66;
     border-radius: 5px 5px 0 0;
     color: #FFF;
     padding: 0 10px;
     display: flex;
     font-size: 16px !important;
     flex-direction: row;
     align-items: center;
     align-content: center;
     justify-content: center;
     height: 74px;
     width: 100%;
 }

 .circulo-user {
     background-color: #11325e;
     width: 75px;
     height: 75px;
     border-radius: 50px;
     position: relative;
     margin: 0 auto;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 15px;
     top: -25px;
 }

 .header-modal-user-correo {
     text-align: center;
 }

 .mat-mdc-dialog-content {
     padding: 0 !important;
     max-height: 100vh !important;
 }

 .sub-text-menu {
     color: #11478A;
     background-color: #e1eeff;
 }

 .align-icon {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: -10px 0 !important;
 }

 .color-icons {
     color: #11478A;
 }

 .btn-aceptar {
     background-color: #E8B835 !important;
     color: #FFF !important;
 }

 .btn-cancelar {
     background-color: #858585 !important;
     color: #FFF !important;
 }

 .btn-icon {
     background-color: #11478a !important;
     box-shadow: none !important;
 }

 ::-webkit-scrollbar {
     width: 10px;
 }

 ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px grey;
     border-radius: 5px;
 }

 ::-webkit-scrollbar-thumb {
     background: #11478A;
     border-radius: 5px;
 }

 ::-webkit-scrollbar-thumb:hover {
     background: #07366f;
 }


 .leaflet-left {
     top: 130px !important;
     left: 5px !important;
     z-index: 999999 !important;
     position: absolute;
 }

 .leaflet-touch .leaflet-control-layers,
 .leaflet-touch .leaflet-bar {
     border: 0px solid rgba(0, 0, 0, 0.2);
 }

 .leaflet-touch .leaflet-bar a:first-child {
     border-radius: 20px !important;
     padding: 4px;
     margin-bottom: 6px;
 }


 .leaflet-draw.leaflet-control{
    position: absolute;
    right: 45px;
    bottom: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leaflet-draw-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leaflet-draw-toolbar.leaflet-bar{
    display: flex;
    align-items: center;
    margin: 0px;
}

 .leaflet-draw-toolbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
 }
 
 .leaflet-draw-actions {
    transform: translateY(-70%);
}

.leaflet-draw-actions li a{
    transform: translateY(-10%);
    opacity: 0.95;
    background-color: #11478a !important;
}

.leaflet-draw-toolbar a {
    background-image: url('/assets/images/svg-anima/spritesheet.svg')!important;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled {
    background-position: -236px 4px;
}
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-remove {
    background-position: -176px 3px;
}

.leaflet-div-icon {
    width: 7px !important;
    height: 7px !important;
    border: 2px solid #2b78e4;
    background-color: white;
}

 .leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polygon {
     background-position: -25px 4px;
     border-radius: 20px;
     padding: 4px;
     margin-bottom: 5px;
 }

 .leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
     border-radius: 20px;
     padding: 4px;
     background-position: -56px 5px;
     margin-bottom: 5px;
 }

 .leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-circle {
     background-position: -86px 5px;
     border-radius: 20px;
     padding: 4px;
     margin-bottom: 5px;
 }

 .leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-marker {
     background-position: -116px 5px;
     border-radius: 20px;
     padding: 4px;
     margin-bottom: 5px;
 }

 .leaflet-touch .leaflet-bar a:last-child {
     border-radius: 20px;
     padding: 4px;
 }

 .leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polyline {
     background-position: 4px 4px;
 }

 .leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-edit.leaflet-disabled {
     background-position: -206px 4px;
 }

 .leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-circlemarker {
     background-position: -266px 4px;
 }

 .mat-sm>.mat-mdc-text-field-wrapper {
     height: 26px !important;
     padding: 0px 7px;
     background: #fff;
 }

 .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
     top: 10px !important;
     font-size: 12px;
 }

 .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
     color: rgba(0, 0, 0, 0.6);
     top: 25px !important;
     position: relative !important;
     font-weight: 300 !important;
     background-color: rgb(255, 255, 255);
     --mat-mdc-form-field-floating-label-label-scale: 0.8;
 }

 .mat-mdc-input-element {
     top: -15px !important;
     position: relative !important;
 }

 .mat-select-centrar {
     position: relative;
     top: -15px;
 }

 .mat-mdc-form-field-icon-prefix,
 .mat-mdc-form-field-icon-suffix {
     top: -15px;
 }

 .full-width {
     width: 100%;
 }


 .mat-mdc-select-trigger {
     font-size: 15px;
     top: -15px;
 }

 .table-sm>.mat-mdc-text-field-wrapper {
     width: 109px;
     z-index: 0;
 }

 textarea:focus,
 input:focus {
     outline: none;
 }

 .dialog-sector {
     position: absolute !important;
     top: 60px !important;
     left: 68px !important;
     width: 360px !important;
     height: auto !important;
 }

 .dialog-sector::before {
     position: absolute;
     content: "";
     height: 101%;
     width: 101%;
     background-image: linear-gradient(to top, #2f2f2f, #fff);
     left: -1px;
     top: -1px;
     z-index: -1;
     border-radius: 5px;
 }

 thead {
     background-color: #797979;
     color: #fff;
     font-size: 12px;
     text-align: center;
     font-weight: bold;
 }

 th {
     font-weight: 400;
 }

 td {
     font-size: 12px;
     text-align: center;
 }

 .cdk-global-scrollblock {
     overflow-y: hidden;
 }

 .column-tabs {
     height: 350px !important;
     width: 90% !important;
     margin: 0 auto !important;
 }

 .column-tabs-02 {
     height: 300px !important;
     width: 90% !important;
     margin: 0 auto !important;
 }

 .column-descarga {
     height: 290px !important;
     width: 90% !important;
 }

 @media screen and (max-width: 1024px) {

     .column-tabs {
         height: 250px !important;
     }

     .column-tabs-02 {
         height: 250px !important;
     }



 }

 @media screen and (max-width: 740px) {
     .text-info-inicio {
         font-size: 13px !important;
     }

     .content-tablero-mmunic {
         max-height: 155px !important;
     }

     .icon-log-urbano {
         display: none;
     }

     #map {
         height: 100vh;
         min-height: 1080px;
     }

 }


 @media screen and (max-width: 640px) {
     .content-tablero-mmunic {
         max-height: 130px !important;
     }

     .nombre-visor {
         display: none !important;
     }

 }

 @media screen and (max-width: 500px) {
     .dialog-sector {
         width: 265px !important;
     }

 }

 @media screen and (max-width: 400px) {
     #map {
         height: 100vh;
         min-height: 1080px;
     }

     .menu-lateral {
         width: 260px !important;
         left: 60px !important;
     }

     .icon- {
         width: 50px !important;
         height: 50px !important;
     }

     .content-red {
         width: 32px;
         height: 32px;
     }

     .icon-catalogo {
         background-position: center;
         top: 11px;
         right: 11px;
     }

     .dialog-sector {
         left: 60px !important;
         width: 260px !important;
     }

     .btn-icon {
         margin-top: 15px;
     }

     .icon-log-urbano {
         display: none;
     }

     .nombre-visor {
         display: none !important;
     }

     .text-titulo-input {
         font-size: 9.4px !important;
     }
 }

 @media screen and (max-height: 400px) {

     .scrollable-content {
         max-height: 250px !important;
         overflow-y: auto !important;
     }

     .mat-mdc-tab-body-content {
         overflow-y: hidden !important;
         height: 600px !important;
     }
 }


 ::ng-deep .mat-menu-panel {
     pointer-events: none !important;
 }

 ::ng-deep .mat-menu-content {
     pointer-events: auto !important;
 }

 .btn-mini-fab {
     height: 45px;
     width: 45px;
     border: none;
     cursor: pointer;
 }

 .border-radio {
     border-radius: 25px !important;
 }

 .custom-tooltip {
     background-color: #333;
     color: #fff;
     padding: 8px;
     border-radius: 4px;
     max-width: 200px;
     white-space: pre-wrap;
     pointer-events: none;
     font-size: 12px;
 }

 .subtitulo-panel {
     color: #11478A !important;
     height: 28px;
     line-height: 1;
     display: flex;
     align-content: flex-start;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: flex-start;
     text-overflow: ellipsis !important;
 }


 .modal {
     z-index: 1;
     animation: fadeIn 0.5s;
 }

 .modal-content {
     transform: translateY(-15px);
     opacity: 0;
     animation: slideIn 0.5s forwards;
 }

 .custom-dialog-container {
     width: 470px;
     border-radius: 15px;
     overflow: hidden;
 }

 .custom-dialog-container>.mat-mdc-dialog-container .mdc-dialog__surface {
     background-color: transparent !important;
 }

 @keyframes fadeIn {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }

 @keyframes slideIn {
     from {
         transform: translateY(-15px);
         opacity: 0;
     }

     to {
         transform: translateY(0);
         opacity: 1;
     }
 }

 .icon-color-blanco .mat-expansion-indicator::after {
    color: rgb(255 255 255)!important;
 }

.color-title-panel{
    color: #fff!important;
 }

 .mat-expansion-panel-body {
     padding: 0 !important;
 }

 .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
     background-color: #11478a !important;
     border-color: #11478a !important;
 }

 .mdc-checkbox {
     --mdc-checkbox-selected-focus-state-layer-color: #11478a;
     --mdc-checkbox-selected-hover-state-layer-color: #11478a;
     --mdc-checkbox-selected-pressed-state-layer-color: #11478a;
 }

 .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background .mdc-checkbox__checkmark {
     color: white !important;
 }

 .mat-mdc-slider .mdc-slider__thumb::before {
     background-color: #11478a !important;
     border-color: #11478a !important;
 }

 .mat-mdc-slider .mdc-slider__track--active_fill {
     border-color: #11478a !important;
     background-color: #11478a !important;
 }

 .mat-mdc-slider .mdc-slider__thumb-knob {
     background-color: #11478a !important;
     border-color: #11478a !important;
 }

 .leaflet-bar a {
     color: #3F51B5;
     border: 1px solid #3f51B5;
 }


 .cdk-overlay-connected-position-bounding-box {
     z-index: 9999 !important;
 }

 .cdk-global-overlay-wrapper {
     z-index: 9999 !important;
 }

 /*********** New-css Modal ****************/

.conten-interno{
    background-color: #E1EDFB;
    border-radius: 10px;
    border: 1px solid #8EABCE;
    width: 99.5%;
}
.conten-interno-{
    background-color: #E1EDFB;
    border-radius: 10px;
    border: 1px solid #8EABCE;
    width: 97.5%;
}
.conten-interno-color{
    background-color: #E1EDFB;
}
.conten-interno-form{
    background: #F5F5F5;
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: -moz-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: -o-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(234, 234, 234, 1) 100%); 
    background: linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(234, 234, 234, 1) 100%);
    border-radius: 10px;
    border: 5px solid #fff;
    margin: 5px; 
    padding: 5px;
}
.conten-interno-form-azul{
    background: #F5F5F5;
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: -moz-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: -o-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(234, 234, 234, 1) 100%); 
    background: linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(234, 234, 234, 1) 100%);
    border-radius: 10px;
    border: 5px solid #11478A;
    padding: 5px;
}
.btn-footer-modal{
    background: #fff!important;
    padding: 10px;
    height: 32px;
    margin-bottom: 5px;
}
.m-r-5{
    margin-right: 5px;
}

.lote-modal { /*forzar informacion*/
  background: white;
  width: 400px!important;
}

.content-blue{
    background-color: #2562AB!important;
    padding: 10px;
    height: 40px!important;
    box-shadow: none!important;
    margin: 5px;
  
}
.content-blue:hover {
    background-color: #11478A !important;
}
.box-shadow-none{
  box-shadow: none;
}
.btn-new-modal{
  box-shadow: none!important;
  background: #ECF5FF!important;
  color: #11478A!important;
  border: 1px solid #11478A!important;
  padding: 9px !important;
}
.btn-new-modal:hover{
  box-shadow: none!important;
  background: #11478A!important;
  color: #FFF!important;
  border: 1px solid #11478A!important;
}
/************forzar texto combo*****************/

.mat-mdc-option .mdc-list-item__primary-text {
    font-size: 13px!important;
}
.mat-mdc-select-value-text {
   font-size: 13px!important;
}
.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input{
    font-size: 13px!important;
}
.mdc-text-field--outlined.mdc-text-field--disabled .mdc-text-field__input {
    color: rgb(0 0 0 / 75%) !important;
}
.mat-mdc-option {
    min-height: 36px!important;
}

/************forzar tooltip*****************/
.mat-mdc-tooltip .mdc-tooltip__surface {
  background: #194a8b !important;
  background: -webkit-linear-gradient(left, rgba(25, 74, 139, 1) 0%, rgb(0, 116, 188) 100%) !important;
  background: -o-linear-gradient(left, rgba(25, 74, 139, 1) 0%, rgb(0, 116, 188) 100%) !important;
  background: -moz-linear-gradient(left, rgba(25, 74, 139, 1) 0%, rgb(0, 116, 188) 100%) !important;
  background: linear-gradient(90deg, rgba(25, 74, 139, 1) 0%, rgb(0, 116, 188) 100%)!important; 
  color: #ffffff !important;            
  font-size: 11px !important;
  padding: 8px 12px !important;
  text-align: justify!important;
  border-radius: 5px!important;
  border: 1px solid white!important;
}