
:root {
  /* Tema (cambia aquí una sola vez) */
  --brand: #194A8B;            /* COFOPRI (ajustable) */
  --brand-dark: #04326f;
  --brand-soft: #E7F6F1;

  --accent: #E8B835;           /* amarillo CTA */
  --accent-dark: #d1a52d;

  --bg: #F3F6F8;
  --card: #F3F6F8;
  --text: #0F172A;
}

html,
 body {
     height: 100%;
 }

 body {
     margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
     overflow: hidden; /* default */
 }

.map{
    background-image: url(assets/images/map.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.title {
    margin: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: .2px;
    color: #ffffff;
}
.class-tooltip{
    background-color: #01285ccb;
    color: #fff!important;
    border-radius: 8px!important;
}